body{
  min-height: 100%;
  background: url(../img/cat-bkg-edited.png);
}

* {
  border-radius: 0 !important;
}

.jumbotron {
  text-align: center;
  background-color: #8CBEB2;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-style: italic;
  font-size: 75px;
  color: #FFF;
  text-shadow: 4px 2px #d1d1e0;
}

.mid-section {
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-style: italic;
  background-color: #E6C962;
  height: 300px;
  margin: auto;

}

.has-error .control-label {
  color: #F06060;
}

.form-control {
  width: 200px;
  margin: auto;
}

.has-error .form-control {
  border-color: #4D4152;
}
.output {
  padding: 10px;
  background-color: #272636;
  text-align: center;
  text-transform: uppercase;
}

ul {
  color: #FFF;
  list-style-type: none;
  font-size: 20px;
  padding: 0;
}
